<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/5/sketchy/bootstrap.css">
    <title>Nmap Scan</title>
</head>
<body>
    <form action="/app.py" method="post"> 
        <div class="jumbotron jumbotron-fluid outline-warning">
            <div class="container">
              <h1 class="display-4">Scan your host</h1>
              <p class="lead">host discovery and service and operating system detection</p>
            </div>
          </div>
          <br> <br>
        <div class="container">
            <div class="container">
            <div class="container">
            <div class="form-group">
          <label for="exampleInputEmail1">Please enter the IP adress you want to scan</label> <br><br>
          <input type="text" class="form-control" name="ip" placeholder="IP adress">
        </div>
        <br><br><br>
        <label for="exampleInputEmail1">Type of scan you want to run</label> <br><br>
        <select class="custom-select" name="scan">
            <option selected value="1">SYN ACK</option>
            <option value="2">UDP</option>
            <option value="3">Comprehensive Scan</option>
          </select>
          <br><br>
        <div><button type="submit" class="btn btn-danger">Scan</button></div>
            </div>
        </div></div>
    </form>
</body>
</html>